.DS_Store
.idea/
.claude/

node_modules/
dist/
.pnpm-store/
.pnpm-debug.log
/stats.html

target/
/gen/schemas
.keychain/
output.txt
output.sql

.bigquery.json
*.p12
build.sh
build.ps1
test-db/

/release/